Repository dcos/dcos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @orsenthil, @orsenthil,, skumaran@mesosphere.io, @janisz,, @drewvanstone, @br-lewis,

Document local setup.
  docs/terraform-integration-tests.md
Owners: @orsenthil

Document setup.
  docs/terraform-integration-tests.md
  test_util/terraform_test.sh
Owners: @orsenthil

Adding windows artifact urls
  README.md
Owners: @orsenthil

Using latest plugin with fixed parameters
  packages/calico/build
  packages/calico/buildinfo.json
  packages/calico/extra/create-calico-docker-network.py
  packages/calico/extra/dcos-calico-libnetwork-plugin.service
Owners: @orsenthil

Adding libnetwork calico service
  packages/calico/build
  packages/calico/buildinfo.json
  packages/calico/extra/create-calico-docker-network.py
  packages/calico/extra/dcos-calico-libnetwork-plugin.service
Owners: @orsenthil

Adding tests
  packages/dcos-integration-test/extra/test_composition.py
  packages/dcos-integration-test/extra/test_networking.py
Owners: @orsenthil,, skumaran@mesosphere.io

Soucing environment before continuing
  packages/calico/build
Owners: @orsenthil

Adding missing 'envsubst'
  packages/calico/build
Owners: @orsenthil

Fixing calico-libnetwork-plugin checksum
  packages/calico/buildinfo.json
Owners: @orsenthil

Fixing linting errors
  packages/calico/extra/create-calico-docker-network.py
Owners: @orsenthil

Move Windows intergration test.
  packages/dcos-integration-test/extra/test_applications.py
  packages/dcos-integration-test/extra/test_windows.py
  test_util/terraform_test.sh
Owners: @orsenthil,, skumaran@mesosphere.io, @orsenthil

Avoid infinite recursion.
  release/__init__.py
Owners: @orsenthil

.github/CODEOWNERS:

# Defining a Concept of CODEOWNERS in dcos/dcos repo
# Refer to: https://jira.mesosphere.com/browse/DCOS_OSS-1793
#           https://help.github.com/articles/about-codeowners/

# NOTE: This is work-in-progress as of Nov 28, 2017.
# tools-infra team will be responsible for assiging the owners.
# or interested engineers can request addition to this file.

# global owner (test)

* @orsenthil

# tests owner

/packages/dcos-integration-test/ @orsenthil, skumaran@mesosphere.io

# Cluster Ops Foundation
/pkgpanda/ @janisz, @drewvanstone
/packages/dcos-diagnostics/ @janisz, @br-lewis, @drewvanstone
/packages/dcos-checks/ @janisz, @drewvanstone
/packages/dcos-check-runner/ @janisz, @drewvanstone
/packages/dcos-integration-test/extra/test_dcos_diagnostics.py @janisz, drewvanstone
